.catalogo__container{
    display: flex;
    flex-direction: column;
}

.product-detail__container{
    position: fixed;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all ease-out .5s;
    transform: translateX(100%);
    &.active{
      transform: translateX(0);
    }
}
button{
    font-size: 2rem;
}
//tablet
@media screen and (min-width: 768px) and (max-width: 1023px){
    .catalogo__container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }
}

//desktop
@media screen and (min-width: 1024px){
    .catalogo__container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 15px;
    }
}