@import url('../../../styles.scss');
/* app-nav.component.css */
.app-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  color: var(--black);
  padding: 10px 20px;
}

.app-logo a {
  color: var(--orange);
  text-decoration: none;
  font-size: 24px;
}

.app-links {
  display: flex;
  gap: 20px;
}

.app-links a {
  color: var(--orange);
  text-decoration: none;
  font-size: 18px;
}

.app-mobile-menu button {
  background-color: transparent;
  color: var(--orange);
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.app-mobile-links {
  display: none;
}

.app-mobile-links a {
  display: block;
  padding: 10px 0;
  color: var(--orange);
  text-decoration: none;
  font-size: 18px;
}

/* Media queries for responsive design */

@media (max-width: 768px) {
  .app-mobile-menu button {
    display: block;
  }
  .app-links {
    display: none;
  }
  .app-mobile-links {
    display: block;
  }
}
@media (min-width: 1023px){
  .app-mobile-menu{
    display: none;
  }
}