/* You can add global styles to this file, and also import other style files */
:root {
    --soft_blue: #6290c3;
    --orange: #d16014;
    --background: #e4dfda;
    --black: #230903;
    --enfasis: #c1666b;
}

* {
    font-size: 62.5%; 
    box-sizing: border-box;
    background-color: var(--background);
    font-family: sans-serif;
}

p {
    color: var(--black);
    font-size: 1.1rem;
}

button{
    border-radius: 6px;
    border: 2px solid var(--orange);
    color: var(--orange);
    margin: 3px;
    font-size: 1rem;
    
}
button:hover{
    color: var(--background);
    background-color: var(--orange);
}

